body {
    /* background-color: whitesmoke; */
    font-family: Calibri, sans-serif;
    height: 100%;
    margin: 0;
    background-image: url('assets/abstract-dark-blue-wallpaper-image.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}
    

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover {
    /* bright blue */
    color: darkblue;
    /* include a underline */
    text-decoration: underline;
}

nav {
    font-size: large;
    font-style: italic;
    font-weight: bolder;
    border-bottom: 3px solid black;
    background-color: aliceblue;
}

footer {
    /* top | right | bottom | left */
    margin: 0% 0% 0% 0%;
    text-align: center;
    border-top: solid;
    display: block;
}

.home {
    background-color: aliceblue;
    /* top | right | bottom | left */
    margin: 2.5% 65% 2.5% 2.5%;
    padding: 1%;
    border: 3px solid black;
    border-radius: 5px;
}

.engineering {
    background-color: aliceblue;
    /* top | right | bottom | left */
    margin: 2.5% 65% 2.5% 2.5%;
    padding: 1%;
    border: 3px solid black;
    border-radius: 5px;
}

.photos {
    background-color: aliceblue;
    /* top | right | bottom | left */
    margin: 2.5% 2.5% 2.5% 2.5%;
    padding: 1% 1% 2.5% 1%;
    border: 3px solid black;
    border-radius: 5px;
}

.image-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1px;
}

.gallery img {
    width: 100%;
    height: auto;
    padding: 0%;
}

.gallery figure {
    margin: 3%;
}


.gallery figcaption {
  text-align: center;
}

@media (max-width: 1000px) {
    .image-row {
        flex-direction: column;
    }
    .home {
        margin: 2.5% 2.5% 154% 2.5%;
        padding: 5%;
    }
    .engineering {
        margin: 2.5% 2.5% 2.5% 2.5%;
        padding: 5%;
    }
    .photos {
        margin: 2.5% 2.5% 2.5% 2.5%;
        padding: 5%;
    }
}